html {
    margin: auto;
    padding: 30px;
    background-color: #c0c4ca;
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
 
}

header{
    text-align: center;
    padding: 30px;
    font-size: 30px;
}


#results {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) ) ;
    grid-gap: 20px;
    align-content: center;
    justify-items: center;
}

#results p {
    margin: 0;
    padding: 0;
    text-align: center;
}


.FizzBuzz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    font-size: 1.3em;
    border-radius:4px;
    border:2px solid rgb(240, 233, 233);
    border-radius: 30px;
    transition: all 0.3s linear;
    background: linear-gradient(to top, #9795ef 0%,#f9c5d1 100%);
}

.FizzBuzz:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}

.Fizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    font-size: 1.3em;
    border-radius: 4px;
    border:2px solid rgb(240, 233, 233);
    border-radius: 30px;
    transition: all 0.3s linear;
    background: linear-gradient(to top, #3eadcf 0%,#abe9cd 100%)
    
}

.Fizz:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}

.Buzz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    font-size: 1.3em;
    border-radius:4px;
    border:2px solid rgb(240, 233, 233);
    border-radius: 30px;
    transition: all 0.3s linear;
    background: linear-gradient(to top, #fb8085 0%,#f9c1b1 100%);
}

.Buzz:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}

.Number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    font-size: 1.3em;
    border-radius:4px;
    border:2px solid rgb(240, 233, 233);
    border-radius: 30px;
    transition: all 0.3s linear;
    background: linear-gradient(to top, #8693ab 0%,#bdd4e7 100%);
}

.Number:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}


#generate {
    width: 120px;
    height: 40px;
    background: white;
    border-radius: 10px;
}

 #clear {
    width: 120px;
    height: 40px;
    background: white;
    border-radius: 10px;
}

.hidden {
    display: none;

}

